.search {
  background-color: #323946;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: #9da5d1;
}

.search_container {
  display: flex;
  gap: 0.5rem;
}

.search_container input,
.search_container button {
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  color: #323946;
}

.search_container button {
  background-color: #AA1DEF;
  cursor: pointer;
}

.search_container input{
  outline: none;
  transition: 0.3s;
}

.search_container input:focus{
  border: 2px solid #7d34a2;
}